.container{
    margin-left: 60px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: transparent;
    padding: 10px;
}

.grid-item{
    font-size: 24px;
    border: none;
    text-align: center;
    margin: 20px 0 30px;
}

.box{
    padding-top: 35px;
}

.model{
    font-size: 30px;
    font-weight: 400;
}

input[type=number]{
    font-size: 20px;
    width: 80px;
    height: 30px;
}

.info{
    font-size: 22px;
}

.indent{
    text-indent: 30px;
    color: yellow;
}

body{
    margin: 0;
    background: #222;
}

.head{
    padding-top: 30px;
}

.separator{
    margin: 1000px;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 4px 0 4px;
}
.dot-checked{
    height: 15px;
    width: 15px;
    background-color: #149414;
    border-radius: 50%;
    display: block;
    margin: 4px 0 4px;
}

.model button{
    background-color: #222;
    outline: none;
    border: none;
}

.head{
    text-align: center;
    font-size: 25px;
}

.module-border-wrap{
    position: relative;
    margin-left: 20%;
    max-width: 60%;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
}

.module {
    background: #222;
    color: #fff;
    padding: 20px;
}

.myBtn{
    display: block;
    color: cornsilk;
    height: 60px;
    width: 18%;
    background: linear-gradient(to right, red, purple);
    position: relative;
    margin-left: 41%;
    font-size: 25px;
}

html{
    scroll-behavior: smooth;
}

/*Tooltip*/

.tooltip{
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext{
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    font-size: small;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

/*End of Tooltip*/

/* Start of SideNavbar */

.sidebar{
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a{
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #9a9a9a;
    display: block;
}

.sidebar a:hover{
    color: #f1f1f1;
}

.active{
    background: linear-gradient(to right, red, purple);
    color: #fff!important;
}

/* End of SideNavbar */

@media only screen and (max-width: 641px) {
    .sidebar{
        display: none;
    }
    .container{
        margin: 0;
        padding: 0;
    }
}