.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: transparent;
    padding: 10px;
}

.grid-item{
    font-size: 25px;
    border: none;
    text-align: center;
    margin: 15px 0 25px;
}

a{
    text-decoration: none;
    color: cornsilk;
}

.input_val{
    font-size: 22px;
}

input[type=number]{
    width: 120px;
    height: 20px;
}

.info{
    font-size: 22px;
}

.cs{
    color: lightgreen;
    font-weight: bold;
}

.indent{
    text-indent: 30px;
}

.container{
    margin-top: 30px;
}

body{
    margin: 0;
    background: #222;
}

.head{
    text-align: center;
    font-size: 25px;
}

.module-border-wrap{
    margin-left: 20%;
    max-width: 60%;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
}

.module {
    background: #222;
    color: #fff;
    padding: 20px;
}

.myBtn{
    display: block;
    height: 60px;
    width: 18%;
    background: linear-gradient(to right, red, purple);
    position: relative;
    margin-left: 41%;
    font-size: 30px;
}

#result{
    margin-top: 400px;
}

.res{
    margin-bottom: 120px;
}